// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: black;

}

.inner {
  width:1300px;
  height:100%;
  margin:0 auto;
  background: black;
  text-align: center;
}
.container_div {
  width:700px; 
  height:500px;
  margin:0 auto;
  margin-top: 100px;
  background-color:black;
  border:solid 2px silver;
  color:white;
  overflow: scroll;
}


.songs_table {
margin:0 auto;


}
.songs_table td {
padding: 1px;


}
.songs_table td img {
padding: 1px;
text-align: center;

}

.container_div a:hover,{
  text-decoration: none;
  color: silver;

}

.top_login_nav {
  height:30px;
  width:100%;
}
.top_login_nav li {
  text-align:center;
  text-transform: capitalize;
  padding:2px;

}
.top_login_nav li a {
  color:black;
}
.bottomnav {
  height:30px;
  width:100%;
}
.bottomnav ul {
 
  text-align:center;
  margin-top: 5px;
  padding:10px;
}
.bottomnav ul li {
  display:inline;
  padding: 2px;
  background-color:white;
  border-radius: 20px; 
  margin-left: 5px;
}
#songs_table a {
  color:white;

}
.songs_table a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: white;
}

.bottomnav a {
  color: black;
  text-transform: capitalize;
}