

.bottomnav ul li {
  
  background-color:#af111c;
  color:white;
}
a:hover{
  color:black;

}
.songs_table th{
  background-color:#8C8B8B; 

}
.top_login_nav {
  background-color:#af111c;
  color:white ;
}
.left_profile_coloum {
color:#af111c;


}
